# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# IDE
.idea
*.iml
.vscode

# Babel ES6 compiled files
dist

# Coverage directory used by tools like istanbul
coverage

# Dependency directory
node_modules

# Generated/copied Documentation (original and templates are in doc-template)
doc/

# Temp files
*.swp
*.bak

# Java projects
target/
.mvn/

client/
